/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.reading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}

body{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}

.reading-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 50px; */
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.reading-header-inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reading-header .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.reading-header .toc-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.toc-dropdown {
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
  height: calc(100% - 50px);
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.toc-dropdown.open {
  transform: translateX(0);
}

.reading-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
}

.reading-content-inner {
  max-width: 840px;
  width: 100%;
}

.center-text {
  text-align: center;
}

.reading-footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 5px;
}

.reading-footer-inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 840px;
  padding: 0 20px;
}

h1{
  padding: .25rem;
  margin: 0;
  font-size: 1.6rem;
}

a{
  color: #3c3c3c;
  text-decoration: none;
}

.footer-link{
  text-transform: uppercase;
  font-size: 0.9rem;
}